# Server Configuration
hcloud_token: "your_hetzner_api_token"
server_name: "personal-cloud"

# Storage Box Configuration
storage_box_name: "storage-box-example"
storage_box_password: "your_storage_box_password"

# Immich Configuration
immich_db_password: "super_secret_password_here"
immich_domain: "immich.domain.com"
mealie_domain: "mealie.domain.com"
vikunja_domain: "projects.domain.com"

# DNS Configuration (OVH)
dns_zone: "domain.com"
ovh_application_key: "xxx"
ovh_application_secret: "yyy"
ovh_consumer_key: "zzz"
ovh_endpoint_url: "eu.api.ovh.com"
